# Week 1 Lab: Python Setup & Basics

<a href="https://colab.research.google.com/github/bradleyboehmke/uc-bana-4080/blob/main/labs/01_python_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Welcome to your first lab! Today we'll dig into:

ðŸ”§ **Todayâ€™s Tools**  
- Google Colab (starter + walkthrough notebooks)  
- [Chapter 2: Working in Colab](https://bradleyboehmke.github.io/uc-bana-4080/02-preparing-for-code.html)
- [Chapter 3: Python Basics](https://bradleyboehmke.github.io/uc-bana-4080/03-python-basics.html)

ðŸ§ª **Lab Agenda**

1. ~~**[0â€“15 min]** Open Colab + run `print("Hello World!")`~~
2. **[15â€“20 min]** What does `print()` do?  
3. **[20â€“35 min]** Data types â†’ `int`, `float`, `str`, `bool`  
4. **[35â€“45 min]** Variables & reassignment  
5. **[45â€“55 min]** Comparison operators  
6. **[55â€“65 min]** Recap: Put it all together  
7. **[65â€“85 min]** Final exercise: Event summary

## Try It Before We Start!

Letâ€™s run a few lines of Python code before we dive in.

In [1]:
# Store your name as a string
name = "Taylor"

# Store your age as a number
age = 22

# Print a personalized message
print("Hi " + name + "! You are " + str(age) + " years old.")

# Calculate how many years until you turn 30
years_to_30 = 30 - age
print("You'll turn 30 in " + str(years_to_30) + " years.")

Hi Taylor! You are 22 years old.
You'll turn 30 in 8 years.

What just happened?

* You stored information using variables
* You worked with different data types (a string and a number)
* You used basic math and printed a personalized message

Donâ€™t worry if this isnâ€™t totally clear yet - it will be by the end of this lab!

## 1. Revisiting Our First Line of Code
Let's go back to that first line of Python code you ran in Colab:

In [ ]:
print("Hello, World!")

Now go ahead and run the following line of code which is similar but doesn't include the `print()` function:

In [ ]:
"Hello, World!"

Do you notice a difference in the output?  How about if you run the following code:

In [ ]:
10 + 5
20 + 3
print(10 + 5)
print(20 + 3)

### Discussion
- What did you notice about the difference between lines with `print()` and those without?
- How many outputs were shown when you ran the code?

The `print()` function in Python is a built-in function used to display output to the console or other specified destinations. It takes one or more arguments and converts them to string representations before writing them.

In [ ]:
# We can even combine multiple items in a single print statement:
print("The sum of 10 and 5 is", 10 + 5)

But we're getting ahead of ourselves! Let's take a step back and look at some of the basic data types in Python and also some basic operations we can do on these data types.

## 2. Python Data Types
Explore the four common types:

In [12]:
x = 10.5           # int
y = "hello"           # float
z = False         # str
is_student = 1  # bool

We can use the `type()` function to check the type of a variable.  Go ahead and run the following code to see the types of the variables we just created:

In [14]:
type(is_student)

int

### Exercise

1. Run type on each variable (x, y, z, is_student) to see their types.
2. Change `x` to 10.5, `y` to "hello", `z` to False, and `is_student` to 1 and re-run the type checks.
3. Before you run the following, what do you think the data types are for each line? Then, run the code in your notebook to check your answers. Were your predictions correct?
    ```python
    print(type("True"))
    print(type(True))
    ```

## 3. Variables and Assignment

In the section above, we created variables like `x`, `y`, `z`, and `is_student`. These are just names we give to values so we can refer to them later in our code.  

* `x`, `y`, `z`, and `is_student` are variable names.
* `10`, `3.14`, `"data"`, and `True` are the values assigned to those variables.
* The `=` operator is used to **assign** a value to a variable

In [ ]:
price = 12
quantity = 4
total = price * quantity
print("Total:", total)

### Exercise
Change the price or quantity values and rerun the calculation.

## 4. Common Operations

In the example above, we did some basic math with our variables. Python allows us to perform various operations on our data types. Here are some common operations.

### Numeric Operations

Go ahead and run the following code to see some basic operations with numbers:

```python
# Basic operations
10 - 3.5   # Subtraction
10 * 3.5   # Multiplication
10 / 3.5   # Division (always returns a float)

# More math
10 ** 3.5  # Exponentiation (10^2 = 100)
10 // 3.5  # Integer division (result is an int)
10 % 3.5   # Modulus (remainder)
```

#### Exercise

A 12-inch pizza costs \$8. Use the formula for the area of a circle ($A = \pi Ã— r^2$) to calculate the **cost per square inch** of the pizza.

Hints:

* Radius ($r$) is half the diameter
* Use `3.14159` as your approximation for $\pi$
* Divide the price by the area to get cost per square inch

Now repeat for a 15-inch pizza that costs \$12. Which is a better deal?

In [20]:
diamter = 15
cost = 12

area = 3.14159 * (diamter / 2) ** 2
cost_per_sq_inch = cost / area
print(cost_per_sq_inch)

0.06790616641042699

### String Operations

Strings can be combined (concatenated), repeated, or sliced (getting parts of the string).

In [ ]:
# Concatenation
"Hello" + " " + "BANA 4080!"   # Hello BANA 4080!

In [22]:
# String repetition
"hahaha" * 3   # 'hahaha'

'hahahahahahahahaha'

In [27]:
# Get first letter (starts at 0)
"Taylor"[-1] # 'T'

'r'

#### Exercise

1. First, guess what each line of code will result in. Then run them in your notebook. Were the results what you expected?
    ```python
    print("Python" + "Rocks")
    print("ha" * 5)
    print("banana"[1])
    print("banana"[::-1])   # Can you guess what this does?
    ```
2. Can you use slicing to print just the word `"ana"` from `"banana"`?

In [33]:
"banana"[3:] # 'ana'

'ana'

## 5. Comparison Operators

We often need to compare values in our code. Python provides several comparison operators that return `True` or `False` based on the comparison.

| Operator | Description              | Example  | Result  |
| -------- | ------------------------ | -------- | ------- |
| `==`     | Equal to                 | `5 == 5` | `True`  |
| `!=`     | Not equal to             | `5 != 3` | `True`  |
| `>`      | Greater than             | `10 > 7` | `True`  |
| `<`      | Less than                | `4 < 2`  | `False` |
| `>=`     | Greater than or equal to | `3 >= 3` | `True`  |
| `<=`     | Less than or equal to    | `8 <= 6` | `False` |

In [ ]:
a = 10
b = 5
print(a > b)
print(a == b)
print("hello" != "world")

### Exercise

#### Exercise 1: Stock Price Comparison

Look up **yesterday's closing stock price** and **today's current price** for Kroger (you can make up values if needed). Assign them to variables and write a comparison to see if todayâ€™s price is higher.

```python
kr_close = 67.98
kr_current = 67.17

print("Is today's price higher than yesterday's close?", kr_current ____ kr_close)
```

#### Exercise 2: Purchase Quantity Check

A customer wants to buy 5 items. A promotion applies only if they buy **3 or more**. Assign the quantities to variables and write a comparison to check if the promotion applies.

```python
quantity = __
promotion_cutoff = __

print("Promotion applies:", __________)
```

#### Exercise 3: Check Multiple Conditions with Comparison Operators

A product is considered a **â€œhot sellerâ€** if its `average_rating` is greater than **4.5** and `num_reviews` is over **100**. Assign those two values and write a single line of code that prints whether itâ€™s a hot seller.

```python
average_rating = 4.7
num_reviews = 135

print("Hot seller:", _________ > 4.5 and _________ > 100)
```

## 6. Putting It All Together
A recap combining variables, math, and print formatting.

In [ ]:
# Store your name as a string
name = _________

# Store your age as a number
age = __

# Print a personalized message
print("Hi, my name is " + name + "! I am " + str(age) + " years old.")

# Calculate how many years until you turn 30
years_to_30 = 30 - age
print("I'll turn 30 in " + str(years_to_30) + " years.")

## 7. Final Exercise â€“ Build a Simple Event Summary

### The Scenario

Your student club is hosting an event and you're in charge of summarizing registration data. Use what youâ€™ve learned in this chapter to answer the following questions using Python.

Write all your code **from scratch**â€”no copy-pasting. Try to reason through the logic before typing.

* **Tickets sold:** 56
* **Ticket price:** \$10.50
* **Revenue goal:** \$600
* **Event name:** "Python for Everyone"

### Your Tasks

1. **Create Variables**: Assign appropriate values to variables for:
   * Event name
   * Tickets sold
   * Ticket price
   * Revenue goal

2. **Calculate Total Revenue**: Use math operations to calculate the total revenue earned from ticket sales.

3. **Print a Summary Report**: Use `print()` and string concatenation to display a message like:

   ```
   The event "Python for Everyone" sold 56 tickets at $10.50 each.
   Total revenue: $588.0
   Met or exceeded goal: False
   ```

4. **Stretch Task** (Optional): Add a comparison that checks whether your total revenue met or exceeded the revenue goal and prints:

   * `"Yaaah! We met our goal!"` if the goal was met
   * `"Booo! We missed our goal."` if it was not

   *Hint: Ask a GenAI tool to help you construct the logic! If you can't get it, don't worry as we will talk about this later in the course.*